{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="bgr">
        <div class="row justify-content-center">
            <h1 class="serif ">Redaksi</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 redaksi">
                <table>
                    {% for x in redaksi %}
                    <tr>
                        <td style="height:40px; width:300px; color:blue; font-size: 20px">{{x.jabatan}}</td>
                        <td>:</td>
                        <td style="
                                font-size: 20px"> {{x.nama}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}