{% extends 'base/base.html' %}
{% load static %}

{% block content %}
        <div class= "container section">
            <div class="headline">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row headline-content">
                            <div class="col-md-8 col-sm-12">
                                <div class="headline-img headline-content">
                                        <img src="{% static 'image/bunuh-diri.jpeg' %}">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <h2>Ismijati Tewas Diduga Bunuh Diri Karena Tak Dinafkahi Suami</h2>
                                <p>Ponorogo - Ismijati tewas diduga bunuh diri di rumahnya di Jalan MT Haryono, Tubuhnya bersimbah darah dengan leher menganga. Di dekatnya ada sebuah gerinda yang masih menyala.</p>
                                <a href="{% url 'berita/7'}"><button>Baca Selengkapnya</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 recent-news">
                        <h4>Berita Terkini</h4>
                        {% for berita in beritas %}
                        <p>{{berita.judul}}</p>
                        <a href="{% url 'hlm_berita' id=berita.id %}"><button>Baca Selengkapnya</button></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="berita-1">
                <div class="row">
                    
                </div>
            </div>
            <div class="berita-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="br2kiri">
                            <h3>Berita Olah Raga</h3>
                            {% for olahraga in olahragas %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="br2kiri-dlm">
                                        <img src="{{olahraga.gambar.url}}">
                                        <h5>{{olahraga.judul}}</h5>
                                        <a href="{% url 'hlm_olahraga' id=olahraga.id %}">Baca Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="br2kanan">
                            <h3>Berita Otomotif</h3>
                            {% for otomotif in otomotifs %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="br2kanan-dlm">
                                        <img src="{{otomotif.gambar.url}}">
                                        <h5>{{otomotif.judul}}</h5>
                                        <a href="{% url 'hlm_otomotif' id=otomotif.id %}">Baca Selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}