{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
</head>

<body>
    <!-- Header -->
    <div class="container-fluid">
        <div class="row justify-content-end backblack">
            <input type="text" name="search" placeholder="Search.." class="search h22">
            <button type="button" class="btn btn-outline-primary margin5 bwhite"><span class="cwhite">Sign Up</span></button>
            <button type="button" class="btn btn-outline-primary margin5 bwhite"><span class="cwhite">Log in</span></button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <img src="{% static 'image/alpha.png' %}" class="marginx" alt=""><br>
            <h1 class="serif font75 top60">Alpha </h1>
            <h1 class="serif top15 bl"> News</h1>
        </div>
    </div>
    <div class="container-fluid blue">
        <div class="row justify-content-center blue">
            <nav class="navbar navbar-expand-sm bg-light blue ">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link cwhite" href="">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link cwhite" href="">Foto</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link cwhite" href="">Indeks</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link cwhite" href="">Redaksi</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>


{% block content %}
{% endblock %}

</body>

<!-- footer -->
<div class="container-fluid">
    <div class="row justify-content-start">
        <img src="{% static 'image/alpha.png' %}" class="h70px" alt=""><br>
        <h1 class="serif h70px ">Alpha </h1>
        <h1 class="serif bl font25"> News</h1>
    </div>
</div>
<div class="container-fluid ">
    <div class="row justify-content-between backblack">
        <div class="col-3">
            <span class="cwhite top4">Copyright @ 2019 Alpha News</span>
        </div>
        <div class="col-5">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link cwhite" href="">Redaksi</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link cwhite" href="">Contact us</a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <table style="margin-left: 230px ">
                <tr>
                    <td><a href="www.facebook.com"><img src="{% static 'image/fb.png' %}" class="h40" alt=""></a></td>
                    <td><a href="www.twitter.com"><img src="{% static 'image/twitter.png' %}" class="h40" alt=""></a></td>
                    <td><a href="www.instagram.com"><img src="{% static 'image/instagram.png' %}" class="h40" alt=""></a></td>
                    <td><a href="www.linkedin.com"><img src="{% static 'image/linkedin.png' %}" class="h40" alt=""></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>