/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display'); */

.blue {
    background-color: #37ccc2 !important;
}

.cwhite {
    color: white;
}

.serif {
    font-family: 'Playfair Display', serif;
}

.font75 {
    font-size: 75px;
}

.bl {
    color: #0eafa4;
}

.top15 {
    position: relative;
    top: 70px;
}

.backblack {
    background-color: black;
}

.margin5 {
    margin: 5px;
}

.bwhite {
    border-color: white;
}

.top60 {
    position: relative;
    top: 40px;
}

.h70px {
    height: 70px;
}

.h30 {
    font-size: 22;
    position: relative;
    top: 20px;
}

.h40 {
    height: 35px;
    width: 35px;
}

.top4 {
    position: relative;
    top: 6px;
}

.search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}
.h22{
    height: 35px;
    position: relative;
    top: 4px;
}
.font25{
    font-size: 25;
    position: relative;
    top: 15px;
}

.background{
    background-color: darkblue;
}

/* Styling Home */

.section{
    margin: 10px auto;
}

.headline{
    padding: 10px 0;
}

.headline-content{
    padding: 20px;
    background-color: #87bdd8;
}

.headline-img img{
    width: 600px;
    height: auto;
    max-width: 100%;
}

.recent-news{
    padding: 20px 5px;
    background: white;
}

.recent{
    padding: 5px 0;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.berita-1{
    margin: 20px 0;
    
}

.konten-ekonomi{
    padding: 10px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    background-color: white;
}

.konten-ekonomi img{
    width: 250px;
}

.berita-2{
    margin: 10px 0;
}

.br2kiri{
    background-color: #b7d7e8;
    margin-right: 10px;
}

.br2kiri h3{
    text-align: center;
    padding : 15px;
}

.br2kiri-dlm{
    border-bottom: 1px solid blue;
    padding : 10px;
}

.br2kiri img{
    width: 520px;
    max-width: 100%;
}

.br2kanan{
    background-color: white;
    margin-right: 10px;
}

.br2kanan h3{
    text-align: center;
    padding : 15px;
}

.br2kanan-dlm{
    border-bottom: 1px solid blue;
    padding : 10px;
}

.br2kanan img{
    width: 520px;
    max-width: 100%;
}

/* Styling page */

.section-page{
    background-color: white;
}

.image{
    text-align: center;
    padding: 0 200px;
}

.image img{
    width: 700px;
    max-width: 100%;
}

.main-content{
    padding: 50px 30px;
}

.main-content h2{
    margin: 20px 0;
}

.kontributor{
    text-align: left;
}

.comment{
    text-align: right;
}